.main__post {
  img{
    width: 100%;
  }
}
.img__container{
  height: 20em;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-family: $headerFont;
  margin: $baseMargin*2 ;
}

@media (min-width: $breakpoint-laptop){
  .main__post {
    width: 900px;
    margin: auto;
  }
  .author__paragraph{
    margin: $baseMargin 0;
  }
}