*{
  margin: 0;
}

body{
  background-color: #D5D3E1;
}

main{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: $baseMargin;
  padding: $baseMargin;
}
h2{
  font-family: $headerFont;
}
ul{
  list-style: none;
}
.fa-spin{
  margin: 15rem auto;
}
.fa-spinner:before{
  font-size: 4em;
}

.toggle{
  color: #72638E;
  background-color: white;
}
.warning{
  padding: 30px;
  margin: 30px auto;
  border: solid $textcolor 1px;
  font-weight: bolder;
  text-transform: uppercase;
}

header{
  margin: $baseMargin;
  form{
    margin: $baseMargin 0;
  }
}

@media (min-width: $breakpoint-laptop){
  header{
    width: 1000px;
    margin: auto;
  }
}