// #D5D3E1
// #AEA9C5
// #8E83AB
// #72638E
// #5B4573
// #442D57
// #2F1A3B
@import url(//db.onlinewebfonts.com/c/12ca6eb8a45b8ac406fb5a09bb9daab2?family=Lyon+Display+Web+Black);

$headerFont: "Lyon Display Web Black", sans-serif; 
$textcolor: #2F1A3B;

$basePadding: 10px;
$baseMargin: 30px;


$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;