// #D5D3E1
// #AEA9C5
// #8E83AB
// #72638E
// #5B4573
// #442D57
// #2F1A3B

$textcolor: #2F1A3B;

$basePadding: 10px;
$baseMargin: 30px;


$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;